:root{
   --brown: #933310;
   --darkbrown: #5c3428;
   --darkblue: #353942;
   --yellow: #fdcd2d;
   --chunks: #f3c49f;
}

@font-face {
    font-family: myFirstFont;
    src: url(Oswald-Light.ttf);
}

body{
    background-image: url(sunset.jpg);
    background-repeat: no-repeat;
    font-family: myFirstFont;
}

.Title{
    display: grid;
}

.grid-container1{
 display: grid;
 grid-template-columns: auto auto auto auto;
}

.Contact_Form{
    background-color: var(--chunks);
    border: 2px solid white;
    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    
}

.Education{
    background-color: var(--chunks);
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
    text-align: center;
    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.Technical_Proficiency{
    background-color: var(--chunks);
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
    text-align: center;
    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.Military_Service{
    background-color: var(--chunks);
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
    text-align: center;
    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.Experience{
    background-color: var(--chunks);
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
    text-align: center;
    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

h1{
    color: var(--yellow);
    text-align: center;
}
h2{
    text-align: center;
}



@keyframes animation{
    0% {background-color: var(--yellow); }
    50% {background-color: var(--chunks);}
    100% {background-color: var(--yellow); }
}
